@import "colors";
@import "fonts";

.card {
    background: {
        color: white;
        image: url("../images/bg-pattern-card.svg");
        position: center top;
        repeat: no-repeat;
        size: auto;
    }

    border-radius: 1.5rem;
    overflow: hidden;
    width: 35rem;

    &__img-wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 8.7rem 0 2rem;
    }

    &__img {
        border: 0.5rem solid white;
        border-radius: 50%;
        display: block;
        height: 9.6rem;
        overflow: hidden;
        width: 9.6rem;
    }

    &__name-and-age {
        margin: 0 0 0.7rem;
        text-align: center;
    }

    &__name {
        @include font-sans(1.8rem, $bold);
        margin-right: 0.6rem;
    }

    &__age {
        @include font-sans(1.8rem, $regular);
    }

    &__city {
        @include font-sans(1.4rem, $regular);
        margin: 0 0 2.3rem;
        text-align: center;
    }

    &__divider {
        border-width: 0.1rem 0 0;
        width: 100%;
    }

    &__stat-row {
        display: flex;
        justify-content: space-between;
        margin: 2.5rem 5.4rem 2.5rem 4.9rem;
    }

    &__stat-col-middle {
        margin-right: 0.8rem;
    }

    &__stat {
        @include font-sans(1.8rem, $bold);
        margin: 0 0 0.4rem;
        text-align: center;
    }

    &__stat-name {
        @include font-sans(1rem, $regular);
        letter-spacing: 0.15rem;
        text-align: center;
    }

}