@import "breakpoints";
@import "colors";

.page {
    background: {    
        color: $dark-cyan;
        image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
        position: right 51.5vw bottom 35vh, left 49vw top 49vh;
        repeat: no-repeat, no-repeat;
        size: auto, auto;
    }

    @media screen and (max-width: $x-small) {
        background-position: right 44vw bottom 41vh, left 42vw top 44vh;
    }
}
