@import "colors";

// TODO: add and position background-images
.page {
    background: {    
        color: $dark-cyan;
        image: url("../images/bg-pattern-top.svg");
        repeat: no-repeat;
    }
}