@import "colors";

.page {
    background: {    
        color: $dark-cyan;
        image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
        position: -61% 200%, 149% -146%;
        repeat: no-repeat, no-repeat;
        size: 97.8rem 97.8rem, 97.8rem 97.8rem;
    }
}