.page {
  background-color: hsl(185, 75%, 39%);
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-position: right 51.5vw bottom 35vh, left 49vw top 49vh;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
}