html {
    font-size: 62.5%;
  }

.page {
  margin: 0;
}
.card-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.attribution {
    text-align: center;
}
.page {
  background-color: hsl(185, 75%, 39%);
  background-image: url("../images/bg-pattern-top.svg");
  background-repeat: no-repeat;
}
.card {
  background-color: white;
  background-image: url("../images/bg-pattern-card.svg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  border-radius: 1.5rem;
  overflow: hidden;
  width: 35rem;
}
.card__img-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 8.7rem 0 2rem;
}
.card__img {
  border: 0.5rem solid white;
  border-radius: 50%;
  display: block;
  height: 9.6rem;
  overflow: hidden;
  width: 9.6rem;
}
.card__name-and-age {
  margin: 0 0 0.7rem;
  text-align: center;
}
.card__name {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  margin-right: 0.6rem;
}
.card__age {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}
.card__city {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  margin: 0 0 2.3rem;
  text-align: center;
}
.card__divider {
  border-color: hsl(0, 0%, 59%);
  border-width: 0.1rem 0 0;
  opacity: 0.15;
  width: 100%;
}
.card__stat-row {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 5.4rem 2.5rem 4.9rem;
}
.card__stat-col-middle {
  margin-right: 0.8rem;
}
.card__stat {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  margin: 0 0 0.4rem;
  text-align: center;
}
.card__stat-name {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  letter-spacing: 0.15rem;
  text-align: center;
}
.attribution {
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}